@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Saira Condensed', sans-serif;
  color: #333;
  font-size: 20px;
}

.set {
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: ' 1 exchange exchange exchange 2'
 ' 1  pound dollar euro 2'
 '1 null null null 2';
  grid-gap: 25px;
  -ms-grid-columns: 1fr 200px 200px 200px 1fr;
      grid-template-columns: 1fr 200px 200px 200px 1fr;
  -ms-grid-rows: 100px 200px 0;
      grid-template-rows: 100px 200px 0;
}

.set :hover:not(p) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.set :focus:not(p) {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 770px) {
  .set {
        grid-template-areas: ' 1  exchange 2 '
 ' 1 pound  2 '
 '1 dollar 2'
 '1 euro  2';
    -ms-grid-columns: 1fr 15fr 1fr;
        grid-template-columns: 1fr 15fr 1fr;
    -ms-grid-rows: 80px 200px 200px 200px;
        grid-template-rows: 80px 200px 200px 200px;
  }
}

.set .title {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: exchange;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
}

.set .title i {
  margin-left: 10px;
}

.set .reach-body {
  background-color: #ebecf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  -webkit-box-shadow: 2px 3px 8px #b1b1b1;
          box-shadow: 2px 3px 8px #b1b1b1;
}

.set .card-pound {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pound;
}

.set .card-pound #pound {
  font-size: 5rem;
}

.set .card-dollar {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: dollar;
}

.set .card-dollar #dollar {
  font-size: 5rem;
}

.set .card-euro {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: euro;
}

.set .card-euro #euro {
  font-size: 5rem;
}
 